body {
    margin: 0;
    padding: 0;
    background-color: #FAB50E;
}

ul li {
    margin: 15px;
}

nav img {
    width: 70px;
    height: auto;
    background-color: #FAB50E;
}

.navbar-light .navbar-nav .nav-link {
    color: #202537;
}

.btn-danger {
    background-color: red;
}

.navbar-collapse .collapse-show {
    background-color: red !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
    display: inline;
}

button.navbar-toggler {
    outline: none;
}

i.fas.fa-align-right {
    color: black;
    font-size: 25px;
}

.jumbotron {
    background-image: url(images/academy.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 0px;
}

.lab {
    font-weight: bold;
    letter-spacing: 2px;
}

.fa-check-circle {
    font-size: xx-large;
}

.circle:hover,
.circle:focus {
    color: #24232A;
}

.projects {
    background-color: #24232A;
    cursor: pointer;
}

.projects:hover {
    background-color: #E3232E;
}


/* od ovoj del dodaden css za full screen modal */

.modal-title {
    font-size: xx-large;
}

.modal .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
}

.modal .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}

.modal-open .modal {
    padding-right: 0 !important;
}

.modal .modal-body {
    overflow-y: auto;
}


/* do tuka */

a {
    color: #202537;
}

.popup-button {
    width: auto;
    height: 30px;
}

.fa-heart {
    color: red;
}

.text-center {
    text-align: center!important;
}

.navcolapsedcss {
    text-align: center;
    margin-bottom: 20px;
}

.close {
    position: absolute;
    right: 15px;
    top: 30px;
    font-size: 2.5em;
    z-index: 4;
}

button.close {
    outline: none;
}


/* proekti */

.proekt {
    color: #202537;
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 3px;
}

.zoom {
    transition: transform .4s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.05);
}

#foot {
    background-color: #202537;
}